* {
  box-sizing: border-box;
}

div {
  display: block;
}
.header {
  padding: 0 4.5%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  margin-right: 5vw;
}

.mvisitor-logo {
  margin-right: 5vw;
}
.logo {
  height: 55px;
  display: block;
}

img {
  vertical-align: middle;
  border-style: none;
}

.blue-head {
  background-color: #00aff5;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.head-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  font-size: 30px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 0 30px;
  margin: 0;
  display: block;
  margin-block-start: 0.7rem;
  margin-block-end: 0.7rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

main {
  margin-top: 70px;
  display: block;
}
body {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: black;
  display: block;
  line-height: 1.4;
}

body {
  margin: 0;
}

form {
  display: block;
  margin-top: 0em;
}

.container {
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.second-container {
  position: relative;
  border-radius: 5px;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.form-container {
  max-width: 560px;
  margin: 2.5vmax auto;
  background: #fff;
  padding: 1px 20px;
}

label {
  font-size: 15px;
  display: inline-block;
  color: #938b8b;
  font-weight: 600;
  cursor: default;
  margin-bottom: 8px;
}

.fields-form {
  width: 100%;
  margin-bottom: 50px;
}

input,
select {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px 12px;
  border-radius: 3px;
  margin: 0;
  background-color: #fff;
  border: solid 1px #e0e0e0;
  color: #938b8b;
  margin-bottom: 30px;
  overflow: visible;
  font-size: 100%;
}

select {
  text-transform: none;
}

option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.field-form {
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .blue-head {
    min-height: 80px;
    height: auto;
    max-height: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
