* {
  box-sizing: border-box;
}

div {
  display: block;
}

.blue-head {
  background-color: #00aff5;
  min-height: 100px;
  height: 100%;
  max-height: 80px;
  max-width: 100%;
  max-height: 220px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.head-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 30px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 0 30px;
  margin: 0;
  display: block;
  margin-block-start: 0.7rem;
  margin-block-end: 0.7rem;
}
body {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: black;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  position: relative;
}

.second-container {
  width: 100%;
  max-width: 100%;
  position: relative;
  background-color: #fafafa;
  border-radius: 3px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.form {
  min-width: 600px;
  max-width: 600px;
  margin: 2.5vmax auto;
  padding: 80px;
  background: #fff;
}

label {
  font-size: 15px;
  display: inline-block;
  color: #938b8b;
  font-weight: 600;
  cursor: default;
  margin-bottom: 8px;
}

.field {
  margin-bottom: 30px;
}

input,
select {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px 12px;
  border-radius: 3px;
  margin: 0;
  background-color: #fff;
  border: solid 1px #e0e0e0;
  color: #938b8b;
  margin-bottom: 30px;
  overflow: visible;
  font-size: 100%;
}

select {
  text-transform: none;
}

option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
